body {
  font-family: Inter, sans-serif;
}
body header {
  padding: 20px 0;
  background: url("../img/bg.jpg") no-repeat center 0;
}
body header .header-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
}
body header .header-container .logo {
  transition: 0.3s;
}
body header .header-container .logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
body header .header-container nav {
  margin-left: auto;
}
body header .header-container nav .nav-list {
  display: flex;
  padding: 0 15px;
  margin: 0;
  list-style: none;
}
body header .header-container nav .nav-list .nav-item {
  font-family: inherit;
  font-size: 20px;
  line-height: 50px;
}
body header .header-container nav .nav-list .nav-item .nav-link {
  padding: 0 15px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
body header .header-container nav .nav-list .nav-item .nav-link:hover {
  color: #bdae82;
}
body header .header-container .switch-lng {
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
body header .header-container .switch-lng .lng-current {
  color: #bdae82;
}
body main .main-container .hero-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 325px;
  padding-left: 80px;
  background-image: url("../img/bg.jpg");
  background-position: center -94px;
  background-repeat: no-repeat;
}
body main .main-container .hero-container .hero-title {
  margin: 0 0 10px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
body main .main-container .hero-container .hero-text {
  width: 400px;
  padding-bottom: 25px;
  margin: 0;
  font-family: inherit;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}
body main .main-container .hero-container .btn {
  padding: 8px 72px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  border: 1px;
  background-color: #bdae82;
  cursor: pointer;
}
body main .main-container .skills-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
body main .main-container .skills-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
body main .main-container .skills-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
body main .main-container .skills-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .skills-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .skills-container .skills-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
}
body main .main-container .skills-container .skills-items .skill-item {
  width: 320px;
  padding: 0 20px 8px;
}
body main .main-container .skills-container .skills-items .skill-item .skill-img {
  display: block;
  margin: 0 auto 50px;
}
body main .main-container .skills-container .skills-items .skill-item .skill-title {
  margin: 0 0 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
body main .main-container .skills-container .skills-items .skill-item .skill-text {
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
body main .main-container .portfolio-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
body main .main-container .portfolio-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
body main .main-container .portfolio-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
body main .main-container .portfolio-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 65%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .portfolio-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .portfolio-container .portfolio-btns {
  text-align: center;
  margin-bottom: 60px;
}
body main .main-container .portfolio-container .portfolio-btns .btn {
  padding: 8px 72px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  border: 1px solid #bdae82;
  background-color: #000000;
  cursor: pointer;
}
body main .main-container .portfolio-container .portfolio-btns .btn:not(:last-child) {
  margin-right: 5px;
}
body main .main-container .portfolio-container .portfolio-btns .btn-select {
  padding: 8px 72px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  border: 1px;
  background-color: #bdae82;
  cursor: pointer;
}
body main .main-container .portfolio-container .portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
body main .main-container .video-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
body main .main-container .video-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
body main .main-container .video-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
body main .main-container .video-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .video-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .video-container .video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main-container .video-container .video-player .play-hover {
  position: absolute;
}
body main .main-container .price-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
body main .main-container .price-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
body main .main-container .price-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
body main .main-container .price-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .price-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
body main .main-container .price-container .price-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
}
body main .main-container .price-container .price-items .price-item {
  width: 450px;
  padding: 43px 0;
  text-align: center;
  border: 3px solid #bdae82;
}
body main .main-container .price-container .price-items .price-item .price-item-title {
  margin: 0 0 20px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}
body main .main-container .price-container .price-items .price-item .price-item-cost {
  margin: 0 0 20px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
}
body main .main-container .price-container .price-items .price-item .price-item-desc {
  margin-bottom: 40px;
}
body main .main-container .price-container .price-items .price-item .price-item-desc > span {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
body main .main-container .price-container .price-items .price-item .btn {
  padding: 8px 39px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  border: 1px;
  background-color: #bdae82;
  cursor: pointer;
}
body footer .container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
