html {
  scroll-behavior: smooth;
}
html body {
  font-family: Inter, sans-serif;
  background-color: #000000;
}
html body header .header-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../img/bg.jpg") no-repeat center 0;
}
html body header .header-container .logo {
  transition: 0.3s;
}
html body header .header-container .logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
html body header .header-container nav {
  margin-left: auto;
}
html body header .header-container nav .nav-list {
  display: flex;
  padding: 0 15px;
  margin: 0;
  list-style: none;
}
html body header .header-container nav .nav-list .nav-item {
  font-family: inherit;
  font-size: 20px;
  line-height: 50px;
}
html body header .header-container nav .nav-list .nav-item .nav-link {
  padding: 0 15px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
html body header .header-container nav .nav-list .nav-item .nav-link:hover {
  color: #bdae82;
}
html body header .header-container .switch-lng {
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
html body header .header-container .switch-lng .lng-current {
  color: #bdae82;
}
html body header .header-container .switch-lng .switcher {
  margin: 0 8px;
}
html body main .main-container .hero-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 325px;
  padding-left: 80px;
  background-image: url("../img/bg.jpg");
  background-position: center -93px;
  background-repeat: no-repeat;
}
html body main .main-container .hero-container .hero-title {
  margin: 0 0 10px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
html body main .main-container .hero-container .hero-text {
  width: 400px;
  padding-bottom: 25px;
  margin: 0;
  font-family: inherit;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}
html body main .main-container .hero-container .btn {
  padding: 8px 72px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background-color: #bdae82;
  outline: 1px solid #bdae82;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}
html body main .main-container .hero-container .btn:hover {
  color: #bdae82;
  background-color: #000000;
}
html body main .main-container .hero-container .btn:active {
  color: #000000;
  background-color: #bdae82;
  transition: 0.3s;
}
html body main .main-container .skills-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
html body main .main-container .skills-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
html body main .main-container .skills-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
html body main .main-container .skills-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .skills-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .skills-container .skills-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
}
html body main .main-container .skills-container .skills-items .skill-item {
  width: 320px;
  padding: 0 20px 8px;
}
html body main .main-container .skills-container .skills-items .skill-item .skill-img {
  display: block;
  margin: 0 auto 50px;
}
html body main .main-container .skills-container .skills-items .skill-item .skill-title {
  margin: 0 0 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
html body main .main-container .skills-container .skills-items .skill-item .skill-text {
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
html body main .main-container .portfolio-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
html body main .main-container .portfolio-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
html body main .main-container .portfolio-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
html body main .main-container .portfolio-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 65%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .portfolio-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 65%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .portfolio-container .portfolio-btns {
  text-align: center;
  margin-bottom: 60px;
}
html body main .main-container .portfolio-container .portfolio-btns .btn {
  padding: 8px 72px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  background-color: #000000;
  outline: 1px solid #bdae82;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}
html body main .main-container .portfolio-container .portfolio-btns .btn:hover {
  color: #000000;
  background-color: #bdae82;
}
html body main .main-container .portfolio-container .portfolio-btns .btn:active {
  color: #bdae82;
  background-color: #000000;
  transition: 0.3s;
}
html body main .main-container .portfolio-container .portfolio-btns .btn:not(:last-child) {
  margin-right: 5px;
}
html body main .main-container .portfolio-container .portfolio-btns .btn-select {
  padding: 8px 72px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background-color: #bdae82;
  outline: 1px solid #bdae82;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}
html body main .main-container .portfolio-container .portfolio-btns .btn-select:hover {
  color: #bdae82;
  background-color: #000000;
}
html body main .main-container .portfolio-container .portfolio-btns .btn-select:active {
  color: #000000;
  background-color: #bdae82;
  transition: 0.3s;
}
html body main .main-container .portfolio-container .portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
html body main .main-container .video-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
html body main .main-container .video-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
html body main .main-container .video-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
html body main .main-container .video-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .video-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .video-container .video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body main .main-container .video-container .video-player .play-hover {
  position: absolute;
  width: 130px;
  height: 130px;
  background-image: url("../svg/play-hover.png");
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
html body main .main-container .video-container .video-player .play-hover:hover {
  transform: scale(1.2);
}
html body main .main-container .price-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #000000;
}
html body main .main-container .price-container .section-title-wrapper {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;
  overflow-x: hidden;
}
html body main .main-container .price-container .section-title-wrapper .section-title {
  position: relative;
  margin: 0;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
}
html body main .main-container .price-container .section-title-wrapper .section-title::before {
  position: absolute;
  top: 50%;
  right: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .price-container .section-title-wrapper .section-title::after {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 50%;
  height: 2px;
  content: "";
  background: #bdae82;
  border-radius: 0;
}
html body main .main-container .price-container .price-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  padding-bottom: 100px;
}
html body main .main-container .price-container .price-items .price-item {
  width: 450px;
  padding: 43px 0;
  text-align: center;
  border: 3px solid #bdae82;
}
html body main .main-container .price-container .price-items .price-item .price-item-title {
  margin: 0 0 20px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}
html body main .main-container .price-container .price-items .price-item .price-item-cost {
  margin: 0 0 20px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
}
html body main .main-container .price-container .price-items .price-item .price-item-desc {
  margin-bottom: 40px;
}
html body main .main-container .price-container .price-items .price-item .price-item-desc > span {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
html body main .main-container .price-container .price-items .price-item .btn {
  padding: 8px 39px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background-color: #bdae82;
  outline: 1px solid #bdae82;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}
html body main .main-container .price-container .price-items .price-item .btn:hover {
  color: #bdae82;
  background-color: #000000;
}
html body main .main-container .price-container .price-items .price-item .btn:active {
  color: #000000;
  background-color: #bdae82;
  transition: 0.3s;
}
html body main .main-container .contacts-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 152px;
  background-size: auto 700px;
  background: url("../img/contacts.jpg") no-repeat;
}
html body main .main-container .contacts-container .contacts-wrapper .section-title {
  margin: 0 0 40px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}
html body main .main-container .contacts-container .contacts-wrapper .form-contacts .form-item {
  display: block;
  width: 450px;
  padding: 5px 20px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  border-radius: 0;
  outline: none;
}
html body main .main-container .contacts-container .contacts-wrapper .form-contacts .form-item::placeholder {
  font-family: inherit;
  font-size: 20px;
  color: #bdae82;
}
html body main .main-container .contacts-container .contacts-wrapper .form-contacts .form-item:not(:last-child) {
  height: 50px;
  margin-bottom: 20px;
}
html body main .main-container .contacts-container .contacts-wrapper .form-contacts .form-item:last-child {
  margin-bottom: 30px;
}
html body main .main-container .contacts-container .contacts-wrapper .form-contacts textarea {
  height: 100px;
  resize: none;
}
html body main .main-container .contacts-container .contacts-wrapper .btn {
  padding: 8px 40px;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  background-color: #bdae82;
  outline: 1px solid #bdae82;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}
html body main .main-container .contacts-container .contacts-wrapper .btn:hover {
  color: #bdae82;
  background-color: #000000;
}
html body main .main-container .contacts-container .contacts-wrapper .btn:active {
  color: #000000;
  background-color: #bdae82;
  transition: 0.3s;
}
html body footer .footer-container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
  background-color: #000000;
}
html body footer .footer-container .footer-data {
  font-family: inherit;
  font-size: 20px;
  line-height: 50px;
}
html body footer .footer-container .footer-data .footer-data-item:not(:last-child) {
  margin-right: 20px;
}
html body footer .footer-container .footer-data .footer-data-item .link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
html body footer .footer-container .link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  margin: 0;
  font-size: 20px;
  line-height: 50px;
}
html body footer .footer-container .social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
html body footer .footer-container .social-list .social-list-item:not(:last-child) {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
