@import "var";

body {
  font-family: Inter, sans-serif;

  header {
    padding: 20px 0;

    background: url('../img/bg.jpg') no-repeat center 0;

    .header-container {
      @include container;

      display: flex;

      .logo {
        transition: 0.3s;

        &:hover {
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
        }
      }

      nav {
        margin-left: auto;

        .nav-list {
          display: flex;
          padding: 0 15px;
          margin: 0;

          list-style: none;

          .nav-item {

            font-family: inherit;
            font-size: 20px;
            line-height: 50px;

            .nav-link {
              padding: 0 15px;

              text-decoration: none;
              color: $on-primary-color;

              transition: .3s;

              &:hover {
                color: $on-secondary-color;
              }
            }
          }
        }
      }

      .switch-lng {
        font-family: inherit;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        color: $on-primary-color;

        .lng-current {
          color: $on-secondary-color;
        }
      }
    }
  }

  main {
    .main-container {
      .hero-container {
        @include container;

        padding-top: 160px;
        padding-bottom: 325px;
        padding-left: 80px;

        background-image: url('../img/bg.jpg');
        background-position: center -94px;
        background-repeat: no-repeat;

        .hero-title {
          margin: 0 0 10px;

          font-family: Merriweather, serif;
          font-weight: bold;
          font-size: 60px;
          line-height: 120px;
          color: $on-primary-color;
        }

        .hero-text {
          width: 400px;
          padding-bottom: 25px;
          margin: 0;

          font-family: inherit;
          font-weight: normal;
          font-size: 20px;
          line-height: 40px;
          color: $on-primary-color;
        }

        .btn {
          @include btn($on-surface-color, $on-secondary-color, 1px);
        }
      }

      .skills-container {
        @include container;

        background-color: $background-color;

        .section-title-wrapper {
          @include section-title-wrapper(60%);
        }

        .skills-items {
          display: flex;
          justify-content: space-between;
          padding-bottom: 2px;

          .skill-item {
            width: 320px;
            padding: 0 20px 8px;

            .skill-img {
              display: block;
              margin: 0 auto 50px;
            }

            .skill-title {
              margin: 0 0 20px;

              font-family: inherit;
              font-weight: bold;
              font-size: 20px;
              line-height: 40px;
              text-align: center;
              color: $on-primary-color;
            }

            .skill-text {
              margin: 0;

              font-family: inherit;
              font-size: 18px;
              line-height: 36px;
              text-align: center;
              color: $on-primary-color;
            }
          }
        }
      }

      .portfolio-container {
        @include container;

        background-color: $background-color;

        .section-title-wrapper {
          @include section-title-wrapper(65%);
        }

        .portfolio-btns {
          text-align: center;
          margin-bottom: 60px;

          .btn {
            @include btn($on-secondary-color, $on-surface-color, 1px solid $on-secondary-color);

            &:not(:last-child) {
              margin-right: 5px;
            }
          }

          .btn-select {
            @include btn($on-surface-color, $on-secondary-color, 1px);
          }
        }

        .portfolio-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 15px;
        }
      }

      .video-container {
        @include container;

        background-color: $background-color;

        .section-title-wrapper {
          @include section-title-wrapper(65%);
        }

        .video-player {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .play-hover {
            position: absolute;
          }
        }
      }
    }
  }

  footer {
    .container {
      @include container;
    }
  }
}
