@import "var";

body {
  font-family: Inter, sans-serif;

  header {
    padding: 20px 0;

    background: url('../img/bg.jpg') no-repeat center 0;

    .header-container {
      @include container;

      display: flex;

      .logo {
        transition: 0.3s;

        &:hover {
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
          contrast(87%);
        }
      }

      nav {
        margin-left: auto;

        .nav-list {
          display: flex;
          padding: 0 15px;
          margin: 0;

          list-style: none;

          .nav-item {

            font-family: inherit;
            font-size: 20px;
            line-height: 50px;

            .nav-link {
              padding: 0 15px;

              text-decoration: none;
              color: $on-primary-color;

              transition: .3s;

              &:hover {
                color: $on-secondary-color;
              }
            }
          }
        }
      }

      .switch-lng {
        font-family: inherit;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        color: $on-primary-color;

        .lng-current {
          color: $on-secondary-color;
        }
      }
    }
  }

  main {
    .main-container {
      .hero-container {
        @include container;

        padding-top: 160px;
        padding-bottom: 325px;
        padding-left: 80px;

        background-image: url('../img/bg.jpg');
        background-position: center -94px;
        background-repeat: no-repeat;

        .hero-title {
          margin: 0 0 10px;

          font-family: Merriweather, serif;
          font-weight: bold;
          font-size: 60px;
          line-height: 120px;
          color: $on-primary-color;
        }

        .hero-text {
          width: 400px;
          padding-bottom: 25px;
          margin: 0;

          font-family: inherit;
          font-weight: normal;
          font-size: 20px;
          line-height: 40px;
          color: $on-primary-color;
        }

        .btn {
          padding: 8px 72px;

          font-family: inherit;
          font-size: 20px;
          line-height: 40px;
          color: $on-surface-color;

          border: 0;
          background-color: $on-secondary-color;

          cursor: pointer;
        }
      }
    }
  }

  footer {
    .container {
      @include container;
    }
  }
}
