$background-color: #000000;
$surface-color: rgba(0, 0, 0, 0.5);

$on-primary-color: #ffffff;
$on-secondary-color: #bdae82;
$on-surface-color: #000000;

@mixin container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin btn($padding, $color, $background-color) {
  padding: $padding;

  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  color: $color;

  background-color: $background-color;
  outline: 1px solid $on-secondary-color;
  border: 0;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $background-color;
    background-color: $color;
  }

  &:active {
    color: $color;
    background-color: $background-color;
    transition: 0.3s;
  }
}

@mixin section-title-wrapper($margin) {
  width: 50%;
  padding: 100px 0 60px;
  margin: auto;

  overflow-x: hidden;

  .section-title {
    position: relative;

    margin: 0;

    font-family: Merriweather, serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: $on-secondary-color;

    &::before {
      position: absolute;
      top: 50%;
      right: $margin;

      width: 50%;
      height: 2px;

      content: "";
      background: $on-secondary-color;
      border-radius: 0;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: $margin;

      width: 50%;
      height: 2px;

      content: "";
      background: $on-secondary-color;
      border-radius: 0;
    }
  }
}

@mixin link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
