* {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    justify-content: center;
    max-width: 1024px;
}

#wrapper #aboutMe {
    width: 300px;
    background-color: #F0F0F1;
    margin: 50px 0;
}

#wrapper #aboutMe img {
    height: 263px;
    border-radius: 50%;
    margin: 50px auto 30px;
    display: flex;
    position: relative;
    left: 66px;
}

#wrapper #aboutMe #name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: end;
    position: relative;
    left: 15px;
    color: #333333;
}

#wrapper #aboutMe #profession {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 23px 0 0 42px;
    text-transform: uppercase;
    color: #333335;
}

#wrapper #aboutMe #infoAboutMe {
    margin: 40px 0;
}

#wrapper #aboutMe #infoAboutMe #infoAboutMeTitle {
    border-bottom: 2px solid #333335;
    padding: 14px;
    margin: 0 44px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #333333;
}

#wrapper #aboutMe #infoAboutMe #infoAboutMeDescText {
    margin: 22px 46px;
}
