html, body {
  height: 100%;
}
html .wrapper, body .wrapper {
  min-height: 100%;
  padding: 10px 14px;
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
}
html .wrapper .content, body .wrapper .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
html .wrapper .content header, body .wrapper .content header {
  max-width: 460px;
  padding: 10px 18px;
  margin-right: 6px;
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}
html .wrapper .content header .profile, body .wrapper .content header .profile {
  display: flex;
  margin-bottom: 20px;
}
html .wrapper .content header .profile .photo, body .wrapper .content header .profile .photo {
  width: 110px;
  height: 116px;
  padding-right: 10px;
  border-radius: 50%;
}
html .wrapper .content header .profile .align, body .wrapper .content header .profile .align {
  padding: 0 10px;
}
html .wrapper .content header .profile .align .full-name .surname, body .wrapper .content header .profile .align .full-name .surname {
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #cecaca;
}
html .wrapper .content header .profile .align .full-name .name, body .wrapper .content header .profile .align .full-name .name {
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
}
html .wrapper .content header .profile .align .profession, body .wrapper .content header .profile .align .profession {
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #cecaca;
}
html .wrapper .content header .contacts .contacts-list, body .wrapper .content header .contacts .contacts-list {
  list-style: none;
}
html .wrapper .content header .contacts .contacts-list .contact-item, body .wrapper .content header .contacts .contacts-list .contact-item {
  display: flex;
  align-items: center;
  padding: 7px 14px;
  margin-bottom: 5px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}
html .wrapper .content header .contacts .contacts-list .contact-item .contact-icon, body .wrapper .content header .contacts .contacts-list .contact-item .contact-icon {
  padding-right: 30px;
}
html .wrapper .content header .contacts .contacts-list .contact-item .contact-text, body .wrapper .content header .contacts .contacts-list .contact-item .contact-text {
  font-family: Calibri, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
html .wrapper .content header .contacts .contacts-list .contact-item .contact-text .link, body .wrapper .content header .contacts .contacts-list .contact-item .contact-text .link {
  text-decoration: none;
  color: #ffffff;
}
html .wrapper .content header .about-myself, body .wrapper .content header .about-myself {
  padding: 6px 12px;
  background-color: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}
html .wrapper .content header .about-myself .title-block--light, body .wrapper .content header .about-myself .title-block--light {
  padding: 6px 9px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
html .wrapper .content header .about-myself .about-myself-text, body .wrapper .content header .about-myself .about-myself-text {
  padding-bottom: 12px;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fafafa;
}
html .wrapper .content header .languages, body .wrapper .content header .languages {
  padding: 6px 12px 13px;
  background-color: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}
html .wrapper .content header .languages .title-block--light, body .wrapper .content header .languages .title-block--light {
  padding: 6px 9px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
html .wrapper .content header .languages .languages-list, body .wrapper .content header .languages .languages-list {
  padding-left: 9px;
  list-style: none;
}
html .wrapper .content header .languages .languages-list .language-item, body .wrapper .content header .languages .languages-list .language-item {
  display: flex;
}
html .wrapper .content header .languages .languages-list .language-item .subtitle, body .wrapper .content header .languages .languages-list .language-item .subtitle {
  flex-basis: 30%;
  font-family: Calibri, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fafafa;
}
html .wrapper .content header .languages .languages-list .language-item .language-level .level-item, body .wrapper .content header .languages .languages-list .language-item .language-level .level-item {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #cecaca;
  border-radius: 4px;
}
html .wrapper .content header .languages .languages-list .language-item .language-level .get-level, body .wrapper .content header .languages .languages-list .language-item .language-level .get-level {
  background-color: rgba(84, 84, 84, 0.6);
}
html .wrapper .content header > div, body .wrapper .content header > div {
  margin-bottom: 20px;
}
html .wrapper .content main, body .wrapper .content main {
  max-width: 460px;
  padding: 19px 14px;
  background-color: #ffffff;
  border-radius: 10px;
}
html .wrapper .content main .skills-wrapper .title-wrapper, body .wrapper .content main .skills-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
html .wrapper .content main .skills-wrapper .title-wrapper .title-block--dark, body .wrapper .content main .skills-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
html .wrapper .content main .skills-wrapper .title-wrapper .line, body .wrapper .content main .skills-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
html .wrapper .content main .skills-wrapper .skills, body .wrapper .content main .skills-wrapper .skills {
  display: flex;
}
html .wrapper .content main .skills-wrapper .skills .block-item-wrapper .subtitle, body .wrapper .content main .skills-wrapper .skills .block-item-wrapper .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
}
html .wrapper .content main .skills-wrapper .skills .block-item-wrapper .list, body .wrapper .content main .skills-wrapper .skills .block-item-wrapper .list {
  list-style: none;
}
html .wrapper .content main .skills-wrapper .skills .block-item-wrapper .list .item, body .wrapper .content main .skills-wrapper .skills .block-item-wrapper .list .item {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
}
html .wrapper .content main .skills-wrapper .skills .block-item-wrapper:not(:last-child), body .wrapper .content main .skills-wrapper .skills .block-item-wrapper:not(:last-child) {
  margin-right: 50px;
}
html .wrapper .content main .example-code-wrapper .title-wrapper, body .wrapper .content main .example-code-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
html .wrapper .content main .example-code-wrapper .title-wrapper .title-block--dark, body .wrapper .content main .example-code-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
html .wrapper .content main .example-code-wrapper .title-wrapper .line, body .wrapper .content main .example-code-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
html .wrapper .content main .example-code-wrapper .task, body .wrapper .content main .example-code-wrapper .task {
  margin-bottom: 10px;
}
html .wrapper .content main .example-code-wrapper .task .subtitle, body .wrapper .content main .example-code-wrapper .task .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
  display: inline;
}
html .wrapper .content main .example-code-wrapper .task .task-desc, body .wrapper .content main .example-code-wrapper .task .task-desc {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  display: inline;
}
html .wrapper .content main .example-code-wrapper .code-wrapper, body .wrapper .content main .example-code-wrapper .code-wrapper {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
html .wrapper .content main .example-code-wrapper .code-wrapper .code-item, body .wrapper .content main .example-code-wrapper .code-wrapper .code-item {
  font-size: 14px;
}
html .wrapper .content main .example-code-wrapper .code-wrapper .code-item code, body .wrapper .content main .example-code-wrapper .code-wrapper .code-item code {
  cursor: text;
}
html .wrapper .content main .example-code-wrapper .code-wrapper .code-indent, body .wrapper .content main .example-code-wrapper .code-wrapper .code-indent {
  margin-bottom: 10px;
}
html .wrapper .content main .example-code-wrapper .code-wrapper p[data-level="1"], body .wrapper .content main .example-code-wrapper .code-wrapper p[data-level="1"] {
  margin-left: 5px;
}
html .wrapper .content main .example-code-wrapper .code-wrapper p[data-level="2"], body .wrapper .content main .example-code-wrapper .code-wrapper p[data-level="2"] {
  margin-left: 20px;
}
html .wrapper .content main .example-code-wrapper .code-wrapper p[data-level="3"], body .wrapper .content main .example-code-wrapper .code-wrapper p[data-level="3"] {
  margin-left: 35px;
}
html .wrapper .content main .work-experience-wrapper .title-wrapper, body .wrapper .content main .work-experience-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
html .wrapper .content main .work-experience-wrapper .title-wrapper .title-block--dark, body .wrapper .content main .work-experience-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
html .wrapper .content main .work-experience-wrapper .title-wrapper .line, body .wrapper .content main .work-experience-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
html .wrapper .content main .work-experience-wrapper .subtitle, body .wrapper .content main .work-experience-wrapper .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
}
html .wrapper .content main .work-experience-wrapper .work-experience-profession, body .wrapper .content main .work-experience-wrapper .work-experience-profession {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  font-weight: normal;
}
html .wrapper .content main .work-experience-wrapper .work-experience-per, body .wrapper .content main .work-experience-wrapper .work-experience-per {
  margin-bottom: 6px;
  font-family: Calibri, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #73808D;
}
html .wrapper .content main .work-experience-wrapper .work-experience-desc, body .wrapper .content main .work-experience-wrapper .work-experience-desc {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.8);
}
html .wrapper .content main .education-wrapper .title-wrapper, body .wrapper .content main .education-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
html .wrapper .content main .education-wrapper .title-wrapper .title-block--dark, body .wrapper .content main .education-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
html .wrapper .content main .education-wrapper .title-wrapper .line, body .wrapper .content main .education-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
html .wrapper .content main .education-wrapper .block-item-wrapper .subtitle, body .wrapper .content main .education-wrapper .block-item-wrapper .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
}
html .wrapper .content main .education-wrapper .block-item-wrapper .list, body .wrapper .content main .education-wrapper .block-item-wrapper .list {
  list-style: none;
}
html .wrapper .content main .education-wrapper .block-item-wrapper .list .item, body .wrapper .content main .education-wrapper .block-item-wrapper .list .item {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
}
html .wrapper .content main .education-wrapper .block-item-wrapper .list, body .wrapper .content main .education-wrapper .block-item-wrapper .list {
  padding-left: 25px;
  list-style: disc;
}
html .wrapper .content main .education-wrapper .block-item-wrapper .link, body .wrapper .content main .education-wrapper .block-item-wrapper .link {
  text-decoration: none;
}
html .wrapper .content main .education-wrapper > div, body .wrapper .content main .education-wrapper > div {
  margin-bottom: 10px;
}
html .wrapper .content main > div, body .wrapper .content main > div {
  margin-bottom: 12px;
}
html .wrapper footer, body .wrapper footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 956px;
  padding: 10px 18px;
  margin: auto;
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}
html .wrapper footer .year-created, body .wrapper footer .year-created {
  padding: 6px 9px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
