.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 14px;
  margin: auto;
  background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
}
.wrapper header {
  flex: 1;
  padding: 10px 18px;
  margin-right: 6px;
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
}
.wrapper header .profile {
  display: flex;
  margin-bottom: 20px;
}
.wrapper header .profile .photo {
  width: 110px;
  height: 116px;
  padding-right: 10px;
  border-radius: 50%;
}
.wrapper header .profile .align {
  padding: 0 10px;
}
.wrapper header .profile .align .full-name .surname {
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #cecaca;
}
.wrapper header .profile .align .full-name .name {
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
}
.wrapper header .profile .align .profession {
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #cecaca;
}
.wrapper header .contacts .contacts-list {
  list-style: none;
}
.wrapper header .contacts .contacts-list .contact-item {
  display: flex;
  align-items: center;
  padding: 7px 14px;
  margin-bottom: 5px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}
.wrapper header .contacts .contacts-list .contact-item .contact-icon {
  padding-right: 30px;
}
.wrapper header .contacts .contacts-list .contact-item .contact-text {
  font-family: Calibri, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.wrapper header .contacts .contacts-list .contact-item .contact-text .link {
  text-decoration: none;
  color: #ffffff;
}
.wrapper header .about-myself {
  padding: 6px 12px;
  background-color: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}
.wrapper header .about-myself .title-block--light {
  padding: 6px 9px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.wrapper header .about-myself .about-myself-text {
  padding-bottom: 12px;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fafafa;
}
.wrapper header .languages {
  padding: 6px 12px 13px;
  background-color: rgba(196, 196, 196, 0.35);
  border-radius: 10px;
}
.wrapper header .languages .title-block--light {
  padding: 6px 9px;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.wrapper header .languages .languages-list {
  padding-left: 9px;
  list-style: none;
}
.wrapper header .languages .languages-list .language-item {
  display: flex;
}
.wrapper header .languages .languages-list .language-item .subtitle {
  flex-basis: 30%;
  font-family: Calibri, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fafafa;
}
.wrapper header .languages .languages-list .language-item .language-level .level-item {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #cecaca;
  border-radius: 4px;
}
.wrapper header .languages .languages-list .language-item .language-level .get-level {
  background-color: rgba(84, 84, 84, 0.6);
}
.wrapper header > div {
  margin-bottom: 20px;
}
.wrapper main {
  flex: 1;
  padding: 19px 14px;
  background-color: #ffffff;
  border-radius: 10px;
}
.wrapper main .skills-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.wrapper main .skills-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
.wrapper main .skills-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
.wrapper main .skills-wrapper .skills {
  display: flex;
}
.wrapper main .skills-wrapper .skills .block-item-wrapper .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
}
.wrapper main .skills-wrapper .skills .block-item-wrapper .list {
  list-style: none;
}
.wrapper main .skills-wrapper .skills .block-item-wrapper .list .item {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
}
.wrapper main .skills-wrapper .skills .block-item-wrapper:not(:last-child) {
  margin-right: 50px;
}
.wrapper main .example-code-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.wrapper main .example-code-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
.wrapper main .example-code-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
.wrapper main .example-code-wrapper .task {
  margin-bottom: 10px;
}
.wrapper main .example-code-wrapper .task .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
  display: inline;
}
.wrapper main .example-code-wrapper .task .task-desc {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  display: inline;
}
.wrapper main .example-code-wrapper .code-wrapper {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.wrapper main .example-code-wrapper .code-wrapper .code-item {
  font-size: 14px;
}
.wrapper main .example-code-wrapper .code-wrapper .code-item code {
  cursor: text;
}
.wrapper main .example-code-wrapper .code-wrapper .code-indent {
  margin-bottom: 10px;
}
.wrapper main .example-code-wrapper .code-wrapper p[data-level="1"] {
  margin-left: 5px;
}
.wrapper main .example-code-wrapper .code-wrapper p[data-level="2"] {
  margin-left: 20px;
}
.wrapper main .example-code-wrapper .code-wrapper p[data-level="3"] {
  margin-left: 35px;
}
.wrapper main .work-experience-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.wrapper main .work-experience-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
.wrapper main .work-experience-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
.wrapper main .work-experience-wrapper .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
}
.wrapper main .work-experience-wrapper .work-experience-profession {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
  font-weight: normal;
}
.wrapper main .work-experience-wrapper .work-experience-per {
  margin-bottom: 6px;
  font-family: Calibri, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #73808D;
}
.wrapper main .work-experience-wrapper .work-experience-desc {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.wrapper main .education-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.wrapper main .education-wrapper .title-wrapper .title-block--dark {
  flex-basis: 37%;
  padding: 3px 3px 3px 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #545454;
  border-radius: 5px;
}
.wrapper main .education-wrapper .title-wrapper .line {
  flex-basis: 55%;
  border: 1px solid #545454;
}
.wrapper main .education-wrapper .block-item-wrapper .subtitle {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #343434;
}
.wrapper main .education-wrapper .block-item-wrapper .list {
  list-style: none;
}
.wrapper main .education-wrapper .block-item-wrapper .list .item {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #343434;
}
.wrapper main .education-wrapper .block-item-wrapper .list {
  padding-left: 25px;
  list-style: disc;
}
.wrapper main .education-wrapper .block-item-wrapper .link {
  text-decoration: none;
}
.wrapper main .education-wrapper > div {
  margin-bottom: 10px;
}
.wrapper main > div {
  margin-bottom: 12px;
}

/*# sourceMappingURL=style.css.map */
