$primary-color: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
$background-color: rgba(196, 196, 196, 0.3);
$surface-color: rgba(196, 196, 196, 0.35);

$on-primary-color: #ffffff;
$on-secondary-color: #cecaca;
$on-surface-color: #fafafa;
